/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
} */

@font-face {
  font-family: 'Elisebold';
  src: url('/fonts/Elsie/Elsie-Black.ttf') format('truetype');
  font-weight: 900; 
  font-style: normal;
}

@font-face {
  font-family: 'Eliselight';
  src: url('/fonts/Elsie/Elsie-Regular.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
}
@font-face {
  font-family: 'Franco';
  src: url('/fonts/FrancoisOne/FrancoisOne-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Spartan-Light';
  src: url('/fonts/Spartan/Spartan-Light.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Spartan-Medium';
  src: url('/fonts/Spartan/Spartan-Medium.ttf') format('truetype');
  font-style: normal;
}

/* Global Image Protection */
img {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  -webkit-user-drag: none !important;
  -khtml-user-drag: none !important;
  -moz-user-drag: none !important;
  -o-user-drag: none !important;
  user-drag: none !important;
  -webkit-touch-callout: none !important;
  -webkit-tap-highlight-color: transparent !important;
  pointer-events: auto !important;
}

img::selection {
  background: transparent !important;
}

img::-moz-selection {
  background: transparent !important;
}